<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shoppes</title>
  <link rel="stylesheet" type="text/css" href="/shoppes.css">
</head>
<body>
  <div>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Middle Earth Marketplace</h1>
  </div>
  <div>
    <ul class="shoppe-list">
      <p>
        <% shoppes.forEach(shoppe => { %>
          <li class="shoppe-item">
            <a href="/shoppes/shoppe/<%= shoppe._id %>"><img src="<%= shoppe.shoppePhoto %>" alt="Shoppe Photo" class="shoppe-photo small"></img></a>
            <a href="/shoppes/shoppe/<%= shoppe._id %>"><%= shoppe.shoppeName %></a><%= shoppe.location %>
          </li><% }); %>
      </p>
    </ul>
  </div>
  <div>
    <a href="/shoppes/shoppe/new">Add a New Shoppe</a>
  </div>
</body>
</html>
