<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shoppes</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
  <h1>Middle Earth Marketplace</h1>
  <p>
    <% shoppes.forEach(shoppe => { %>
      <li>
        <img src="<%= shoppe.shoppePhoto %>"><%= shoppe.shoppeKeeper %></img>
        <a href="/shoppes/shoppe/<%= shoppe._id %>"><%= shoppe.shoppeName %></a>, <%= shoppe.location %></li>
      <% }); %>
    <a href="/shoppes/shoppe/new">Add a new Shop</a><br> 
  </p>
</body>
</html>
